body {
    background-image: url(IMAGES/mpp.jpg);
    background-size: contain;
    color: white;
}

h2 {
    color: #f1c40f;
}

p {
    border: black solid;
    background-color: #f1c40f;
    color: black;
}

.texto {
    color: #e74c3c;
}